@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our platform!</h1>
    <p id="pmain">Here you will find all you need to make a booking for a room according to your choice.</p>
    <p><a href="Rooms">Click here</a> to visit our rooms page for booking.</p>
    <p><a href="Hotels">Click here</a> to visit hotel page.</p>
</div>
